@media screen and (min-width: 500px) {
    .name {
        font-size: 5rem;
    }
    .title {
        font-size: 2rem;
    }
    .nav_links {
        display: flex !important;
        animation: none;
        transition: none;
        flex-direction: row;
        justify-content: space-between;
        position: absolute;
        top: 0vh;
        right: 55%;
        height: 10vh;
    }

    .nav_links a {
      letter-spacing: 0.1rem;
      font-size: 1rem;
    }

    .nav_links li {
        opacity: 100;
    }

    .burger {
      display: none;
    }

  }