* {
    padding: 0;
    margin: 0;
    font-family: 'Staatliches', cursive;
}

body {
    background: #2C302E;
    width: 100vw;
}

nav {
    height: 8vh;
    width: 100%;
    background: #A32066;
    position: fixed;
    z-index: 100;
    transition: none;

}

.line {
    width: 2rem;
    height: 0.2rem;
    background: white;
    margin: 0.3rem;
}

.hamburger {
    position: absolute;
    right: 5%;
    z-index: 500;
    top: 50%;
    transform: translate(-5%, -50%);
}

li a {
    text-decoration: none;
    color: white;
}

.nav-links {
    list-style-type: none;
    position: fixed;
    background: #A32066;
    height: 100vh;
    width: 100%;
    z-index: 400;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-size: 1.5rem;
    clip-path: circle(100px at 90% -20%);
    -webkit-clip-path: circle(100px at 90% -20%);
    transition: all 1s ease-out;
}

.nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
    position: relative;
}


.nav-links li {
    opacity: 0;
}

.nav-links li:nth-child(1) {
    transition: all 1s ease 0.3s;
}

.nav-links li:nth-child(2) {
    transition: all 1s ease 0.6s;
}

.nav-links li:nth-child(3) {
    transition: all 1s ease 0.9s;
}

li.fade {
    opacity: 1;
}

.container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container span {
    text-transform: uppercase;
}

.name {
    text-align: center;
    color: #A32066;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 1rem;
    margin-bottom: 1rem;
    animation: name 3s 1;
    margin-left: 1rem;
}

.title {
    color: #8A7090;
    font-size: 1rem;
    letter-spacing: 0.5rem;
    animation: title 5s 1;
    margin-left: 0.5rem;
}

@keyframes title {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}

@keyframes name {
    0% {
        color: #2C302E;
        margin-bottom: -3rem;
    }
    30% {
        letter-spacing: 1.5rem;
        margin-bottom: -3rem;
    }
    85% {
        letter-spacing: 1rem;
        margin-bottom: -3rem;
    }
    100% {
        letter-spacing: 1rem;
        margin-bottom: 1rem;
    }
}

#particles-js {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}


.portfolio{
    height: 92vh;
    width: 100vw;
}